<!DOCTYPE>
<html>
<head>
    <title>My Travel Blog</title>    
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../font-awesome-4.5.0/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/javascript/main.js"></script>
</head>

<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/pictures/recent"><i class="fa fa-camera-retro" aria-hidden="true"></i>Pix</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="nav-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/pictures/recent"> Pix Home <span class="sr-only">(current)</span></a></li>
              <li><a href="/portfolio/home.html">Back to Portfolio</a></li>
              <li><hr></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <% if(!currentUser){%>
                <li><a href="/signup">Sign Up</a></li>
                <li role="presentation" class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Log In <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li>
                        <form class="form-group" action="/login" method="POST">
                          <label for="username">Username</label>
                          <input id="username" name="username" class="form-control" type="text">
                          <label for="password">Password</label>
                          <input id="password" name="password" class="form-control" type="password">
                          <button class="btn btn-success center-block">Log In</button>
                        </form>
                    </li>
                  </ul>
                </li>
                <% } else { %>
                <li> <a href="/pictures/find/<%=currentUser.username%>">Signed In: <%= currentUser.username %></a> </li>
                <li><a href="/logout"> Log Out</a></li>
                <% } %>
            </ul>
        </div>  
      </div><!-- /.container-fluid -->
    </nav> <!-- end of nav bar -->
    
    <div class="container">
      <% if(flashRedMessage.length > 0){ %>
        <div class="alert alert-danger">
            <%= flashRedMessage %>
        </div>
      <% } %>
      <% if(flashGreenMessage.length > 0){ %>
        <div class="alert alert-success">   
          <%= flashGreenMessage %>
        </div>
      <% } %>
    </div>
    
    <div class="container-fluid">
        <div class="container">
          