<!DOCTYPE>
<html>
<head>
    <title>My Travel Blog</title>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Travels</h1>
        </div>
    
   
    
    
