<% include partials/header.ejs %>

<form action="/pictures" method="post">
    <input type="text" name="name" placeholder="Enter title">
    <input type="text" name="imageLink" placeholder="Enter Image URL">
    <input type="text" name="description" placeholder="Enter Description">
    <input type="Submit">
</form>

<% include partials/footer.ejs %>