<% include partials/header.ejs %>

    PICTURES GO HERE!
    <div class="row">
        <% for(var i = 0; i < pictures.length; i++) { %>
        <div class="col-md-4 col-sm-6">
            <div class="thumbnail text-center">
                <%= pictures[i].name%>
                <img src="<%=pictures[i].imageLink%>">
                <%= pictures[i].description %>
                <button class="btn btn-info btn-block"> More info </button>
            </div>
        </div>
        <% } %>
    </div>

<% include partials/footer.ejs %>