<% include partials/header.ejs %>

    <div class="pic-tabs">
        <ul class="nav nav-tabs">
            <li role="presentation" <% if(!all){ %> class="active" <% } %> ><a href='/pictures/recent'>Recently Added</a></li>
            <li role="presentation" <% if(all){%> class="active" <% } %> ><a href='/pictures/all'>Show All</a></li>
            <li role="presentation"><a href='/pictures/random'>Random Picture</a></li>
            <a class="btn btn-primary pull-right" href="/pictures/new">Add New Picture</a>
        </ul>  
    </div>
    
    <div class="jumbotron">
        <h2>Pictures</h2>
    </div>
    
    <div class="row" id="show-multi">
        <% for(var i = 0; i < pictures.length; i++) { %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 img-responsive">
            <div class="thumbnail text-center">
                <strong><%= pictures[i].name%></strong>
                <img src="<%=pictures[i].imageLink%>">
                <a class="btn btn-info btn-block" href="/pictures/<%=pictures[i]._id%>"> More Info </a>
            </div>
        </div>
        <% } %>
    </div>
<% include partials/footer.ejs %>