<% include partials/header.ejs %>

<div class="col-md-2">
    previous
</div>

<div class="col-md-8">
    <div class="img-thumbnail">
        <img class="img-responsive" src="<%=picture.imageLink%>">
        <h3><%=picture.name%></h3>
        <hr>
        <div class="text-center">
            <%=picture.description%>
        </div>
    </div>
</div>

<div class="col-md-2">
    <span class="pull-right">next</span>
</div>


<% include partials/footer.ejs %>