body{
    background: url("https://images.unsplash.com/photo-1452215199360-c16ba37005fe?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=408c70a6e88b50949c51e26424ff64f3");
    color: white;
    background-position: center;
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 5em;
    text-shadow: 1px 1px 2px black,
                 -1px -1px 2px blue,
                 3px 2px 2px black;
}

#main-text{
    text-align: center;
    padding-top: 15%;
}

#main-text a {
    margin-bottom: 10px;
}

.navbar-default {
    background-color: rgba(10, 10, 10, 0.3);
    border-style: hidden;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand{
    color: white;
}