.navbar-default {
    background-color: rgba(10, 10, 10, 0.3);
    border-color: rgba(10, 10, 10, 0.1);
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand{
    color: white;
}

.col-md-8 .img-thumbnail {
    background-color: rgba(0, 165, 200, 0.2);
}

.pic-tabs {
    padding-bottom: 30px;
}

#form-container {
    width: 33%;
    text-align: center;
    margin-left: 33%;
}

#form-container input{
    margin-bottom: 15px;
}

#edit-buttons{
    margin-top: 10px;
}

#picture-text{
    margin: 15px;
}

#picture-text .pull-right{
    display: inline;
}