.navbar-default {
    background-color: rgba(10, 10, 10, 0.3);
    border: none;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand{
    color: white;
}

.col-md-8 .img-thumbnail {
    background-color: rgba(0, 165, 200, 0.2);
}

.pic-tabs {
    padding-bottom: 30px;
}

#form-container {
    width: 33%;
    text-align: center;
    margin-left: 33%;
}

#form-container input{
    margin-bottom: 15px;
}

#edit-buttons{
    margin-top: 10px;
}

#edit-buttons form{
    display: inline;
}

#picture-text{
    margin: 15px;
}

#picture-text .pull-right{
    display: inline;
}

.dropdown-menu .form-group{
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown-menu .form-group input{
    margin-bottom: 10px;
}

.dropdown-menu .form-group label:hover{
    color: #1fb7d2;
}

.navbar .nav > li.dropdown.open > a {
    background-color: white;
    border: 1px solid #a3a5a5;
    border-bottom: none;
}

.dropdown-menu {
    border-top: none;
}